body{
    background-color: #e0e0e0;
}

#div-forms{
    background-color: #f0f0f0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
}

#div-cards{
    background-color: #f0f0f0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.card{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.btn{
    margin-right: 1em;
}

.card-title{
    font-weight: bold;
    margin-bottom: 12px;
}

.card-text{
    margin-bottom: 7px;
}

h2{
    font-weight: bold;
}